*.in
*.out
*.exe
*.xls
*.xlsx
*.vscode
*.idea


/Книги
/Лекции
/План по неделям и ссылки на литературу ДМ+АиСД
/Структуры данных и алгоритмы 2020
/Экзамен
\320\255\320\272\320\267\320\260\320\274\320\265\320\275.pdf
